<!DOCTYPE html>
<html>

<head>
    <title>Sprinter 3000</title>
</head>

<body>
    <form action="{{ url_for('add_stories') }}" method=post class=add-stories>
        <dl>
            <dt>Story title:
            <input type="text" size="50" name="storytitle">
            <dt>User story:
            <dd><textarea name="userstory" rows="5" cols="50"></textarea>
            <dt>Accaptance criteria:
            <dd><textarea name="criteria" rows="10" cols="50"></textarea>
            <dt>Business value:
            <dd><input type="range" name="businessvalue" id="businessvalueInputId" value="100" min="100" max="1500" step="100" oninput="businessvalueOutputId.value=businessvalueInputId.value">
                <output name="businessvalueOutput" id="businessvalueOutputId">100</output>
            <dt>Estimation(h):
            <dd><input type="range" name="estimation" id="estimationInputId" value="0.5" min="0.5" max="40" step="0.5" oninput="estimationOutputId.value=estimationInputId.value">
                <output name="estimationOutput" id="estimationOutputId">0,5</output>
            <dt>Status:
            <dd><input list="progress" name="status"/></dd>
            <datalist id="progress">
                <option value="Planning">
                <option value="To Do">
                <option value="In Progress">
                <option value="Review">
                <option value="Done">
            </datalist>
            <dd><input type="submit" value="Create"></dd>
        </dl>
    </form>

</body>

</html>